/* CSS HEX 
--avocado: #52711eff;
--blood-red: #660000ff;
--antiflash-white: #e7ecefff;
*/
/* for link bar box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)*/
.testimg {
  height: 150px;
  width:100%;
  background: #aaa;
  text-align: center;
  
}
.primary{
background-color: #e7ecef;
}
.secondary{
background-color: #660000;
}
.accent{
background-color: #52711e;
}
header{
  font-size: 25px;
}
.mainfont{
  font-family: "owners-text", sans-serif;
  font-weight: 400;
  
  
}
.title{
  font-family: "gelica", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
.nav{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)
}
img{
  opacity: 1;
}
